@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background-color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.mycontainer {
  @apply max-w-7xl px-4 mx-auto;
}

.menuItems ul li a {
  display: inline-block;
  position: relative;
}

.menuItems ul li a:after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #186ccc;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}

.menuItems ul li a:hover:after {
  width: 100%;
}

.login {
  background-image: url(./assets/loginbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.inputbox:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #27b8e4;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  z-index: 99;
}

.inputbox input {
  background-color: transparent;
}

.inputbox:focus-within::after {
  width: 100%;
}

.inputbox:focus-within span {
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
}

.inputbox:focus-within span {
  color: #27b8e4;
}

.submitbutton button {
  position: relative;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: 99;
}

.submitbutton button:after {
  content: "";
  display: block;
  width: 300%;
  height: 100%;
  position: absolute;
  left: -100%;
  top: 0;
  background: -webkit-linear-gradient(
    right,
    #00dbde,
    #fc00ff,
    #00dbde,
    #fc00ff
  );
  z-index: -1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.submitbutton button:hover:after {
  left: 0%;
}

.or span {
  margin-top: -11px;
}

.profilePic span {
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.profilePic:hover span {
  transform: scaleX(1);
}

.bg-button {
  background: -webkit-linear-gradient(right, #00dbde, #fc00ff);
}

.loginbuton a:after {
  content: none !important;
}

#bannar {
  background-image: url(./assets/bannar.png);
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 0px;
  background-attachment: fixed;
}

.addToyFull {
  box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 70px;
}

.css-13cymwt-control,
.css-t3ipsp-control {
  border-radius: 0 !important;
  border: 1px solid #333 !important;
  min-height: 42px !important;
  box-shadow: none !important;
}

.submitButton button {
  position: relative;
  z-index: 999;
}

.submitButton button:after {
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #186ccc;
  z-index: -1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.submitButton button:hover:after {
  width: 100%;
}

.heroSlider button:after,
.heroSlider button:before {
  content: none;
}

.heroSlider button {
  display: block;
  width: 40px;
  height: 40px;
  position: inherit;
  background-color: #fff !important;
  padding: 10px;
}

button.slick-next {
  position: absolute !important;
  right: 2% !important;
  top: 50% !important;
  z-index: 99 !important;
  background-image: url(./assets/right.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 80% 80% !important;
  background-position: top 4px right 5px !important;
}

.slick-next:hover {
  background-image: url(./assets/right.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 80% 80% !important;
  background-color: #fff !important;
}

button.slick-prev {
  position: absolute !important;
  left: 2% !important;
  top: 50% !important;
  z-index: 99 !important;
  background-image: url(./assets/left.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 80% 80% !important;
  background-position: top 4px right 5px !important;
}

.slick-next:hover {
  background-image: url(./assets/right.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 80% 80% !important;
  background-color: #fff !important;
}

.slideOne {
  position: relative;
  z-index: 9;
}

.innertext {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gellaryBody {
  background-image: url(./assets/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  padding: 60px 0px;
}

.activeCar {
  background-color: #12cce1;
}
